@import '../../styles/variables';

/* MessageInput — fork §8 / NOT-PORTED §3.1 */

.sendbird-message-input .sendbird-message-input--textarea {
  border-radius: 32px;
  height: 56px;
  min-height: 56px;
  max-height: 200px;
  caret-color: black;
  border: solid 1px #dee1e580;
  background-color: #fafafbff;

  @include themed() {
    border: solid 1px #dee1e580;
    background-color: #fafafbff;
  }

  &:focus {
    border: solid 1px #dee1e580;
    box-shadow: none;

    @include themed() {
      border: solid 1px #dee1e580;
      box-shadow: none;
    }
  }

  &:active {
    @include themed() {
      border: solid 1px #dee1e580;
    }
  }
}
