@import '../../styles/variables';

/* TextMessageItemBody — sin burbuja ni fondo */

.sendbird-conversation .sendbird-text-message-item-body {
  padding: 0;
  border-radius: 0;

  &.incoming,
  &.outgoing {
    @include themed() {
      background-color: transparent;
    }
  }

  &.mouse-hover,
  &:hover {
    &.incoming,
    &.outgoing {
      @include themed() {
        background-color: transparent;
      }
    }
  }

  &.disable-hover {
    &.mouse-hover,
    &:hover {
      &.incoming,
      &.outgoing {
        @include themed() {
          background-color: transparent;
        }
      }
    }
  }
}

.sendbird-conversation .sendbird-unknown-message-item-body,
.sendbird-conversation .sendbird-og-message-item-body__text-bubble {
  &.incoming,
  &.outgoing {
    @include themed() {
      background-color: transparent;
    }
  }

  &.mouse-hover,
  &:hover {
    &.incoming,
    &.outgoing {
      @include themed() {
        background-color: transparent;
      }
    }
  }
}
