@import './tokens.scss';

/* Overrides visuales Emocional — import único desde integration/root */

.sendbird-channel-preview.sendbird-channel-preview--active {
  background-color: #f4f4f5;
}

.sendbird-chat-header {
  border-bottom-color: #dee1e580;
}

.sendbird-message-content__middle__body-container__body {
  border-color: #dee1e580;
}
