@import '../../styles/variables';

.sendbird-icon-color--emocional [class*='fill'] {
  @include themed() {
    fill: #d4d4d8ff;
  }
}

.sendbird-color--emocional_border {
  @include themed() {
    color: #dee1e580;
  }

  &--background-color {
    @include themed() {
      background-color: #dee1e580;
    }
  }
}

.sendbird-label--color-emocional_border {
  @include themed() {
    color: #c2c7ccff;
  }
}

.emo-invite-user-list-item {
  cursor: pointer;
  position: relative;
}

.emo-invite-user-list-item__tag {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.emo-channel-preview__tag {
  font-size: 12px;
  line-height: 1.2;
  font-weight: 500;
  border-radius: 12px;
  width: fit-content;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 2px 8px;
  background-color: #eef0f3;
  color: #5c6570;
}

.emo-channel-preview__tag--selected {
  background-color: #e4e7ec;
  color: #4a5360;
}
