@import '../../styles/variables';

.sendbird-file-message-caption {
  border-radius: 16px;
  box-sizing: border-box;
  margin-bottom: 4px;
  max-width: 100%;
  padding: 8px 12px;
  white-space: pre-wrap;
  word-break: break-word;

  &.incoming {
    @include themed() {
      background-color: t(bg-2);
      color: t(on-bg-1);
    }
  }

  &.outgoing {
    @include themed() {
      background-color: t(primary-3);
      color: t(on-content-1);
    }
  }
}
